[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/home/pfg/Dev/Node/customizations/xdg/web.fish
Name=WebOpen
Icon=cqcb.plasma.webslice
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;
