body{
	
	display: grid;
	grid-template-rows: [header] max-content [content] max-content [end];
	grid-template-columns: [content] 1fr [sidebar] 300px [end];
	
}

body #header{ grid-row: header; grid-column: content / end; }
body .content{ grid-row: content; grid-column: content;  }
body .side{ grid-row: content; grid-column: sidebar;  }

.link {

    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    border-radius: 10px;

}

.commentarea > div > .comment {

    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
	border: 0 !important;
    border-radius: 10px !important;
	
}

.res-commentBoxes.res-commentBoxes-rounded .comment {
	
    border-radius: 10px !important;
	
}

.link .usertext-body .md {
	
	margin: 25px;
	padding: 15px;
	box-shadow: 0 0 25px rgba(0,0,0,0.2);
	border-radius: 10px;
	border: 0;
	
}

.entry.res-selected, .entry.res-selected .md-container {
	
	background-color: #FFFFFF !important;
	
}

.side{
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: max-content max-content max-content [top] max-content;
	
}
.side .spacer{
	grid-column: span 3;
}
.side .spacer:nth-child(5){
	grid-row: top;
}
.hover.redditname{
	display:none;
}
.premium-banner-outer{
	display:none;	
}

.tagline {
}
.tagline {
  /*! position: relative; */
}
