html {
    overflow-x: hidden;
}

body{
	
	display: grid;
	grid-template-rows: [header] max-content [content] max-content [end];
	grid-template-columns: [farleft] 0 [content] 1fr [sidebar] 300px [end] 50px [farright];
	
}

body.comments-page {
	grid-template-columns: [farleft] 1fr [content] minmax(0, 800px) [sidebar] 300px [end] 1fr [farright];
}

.pinned {
    display: none; /*I love it when "features" take up half my screen and are annoying to close*/
}

body > *{ grid-column: content / end; }
body > #header{ grid-row: header; grid-column: farleft / farright; }
body > .content{ grid-row: content; grid-column: content; margin: 0; padding: 25px; }
body > .side{ grid-row: content; grid-column: sidebar; margin: 0; padding: 25px; }

.link {

    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    border-radius: 10px;

}

.commentarea > div > .comment {

    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
	border: 0 !important;
    border-radius: 10px !important;
	
}

.res-commentBoxes.res-commentBoxes-rounded .comment {
	
    border-radius: 10px !important;
	
}

.link .usertext-body .md {
	
	margin: 25px;
	padding: 15px;
	box-shadow: 0 0 25px rgba(0,0,0,0.2);
	border-radius: 10px;
	border: 0;
	
}

.entry.res-selected, .entry.res-selected .md-container {
	
	background-color: #FFFFFF !important;
	
}

.premium-banner-outer{
	display:none;	
}

.comment .child, .comment .showreplies {
    border-left: none;
}

.child {
    margin-top: 0;
    padding-top: 10px;
}

#header {
    position: sticky;
    top: 0;
}
#redesign-beta-optin-btn {
    display: none;
}
.user > a {
    color: transparent;
}
.user > a:hover {
    color: rgb(125, 173, 212);
}

/* neat effect but it messes with scrolling when resizing the page */
/*.comment > .midcol {
    position: sticky;
    top: 75px;
    z-index: 1;
}*/